ShibUserPassAuth {
    /*
    MOD
    JAAS authentication module using DBMS as backend by tauceti2
    https://github.com/tauceti2/jaas-rdbms
    */

	com.tagish.auth.DBLogin required
	  dbDriver="com.mysql.jdbc.Driver" 
	  dbURL="jdbc:mysql://localhost:3306/shibboleth?autoReconnect=true"
	  dbUser="shib" dbPassword="paperino"
	  userTable="users"
	  userColumn="user_name"
	  userPasswd="user_passwd";
};
